DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=Teddy_Mark-I
DB_USER=laundry_app
DB_PASS=change_this_password    ////  change needed 

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com     /// need to be replaced
MAIL_PASSWORD=your_email_password          //// need to replaced 
MAIL_FROM_ADDRESS=noreply@teddymark1.com
MAIL_FROM_NAME="Teddy_Mark-I"

APP_ENV=local
APP_URL=http://localhost           // need to be changed to your domain name in production
SESSION_NAME=teddy_session